#about {
  font-size: 28px;
  padding-top: 300px;
  padding-bottom: 300px;
  height: 100%;
}

h1 {
  padding: 0 0 40px 0;
  align-content: left;
  text-align: left;
}

.greeting {
  padding: 0 0 40px 0;
  align-content: left;
  text-align: left;
  background-color: aquamarine;
}
