@import "../scss/style.scss";

.portfolio-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $color-dark;

  .tag-buttons {
    margin-bottom: 20px;
    button {
      margin-right: 10px;
    }
  }

  .btn-primary {
    background-color: #007bff;
    color: white;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
}

.portfolio {
  flex: 1; // position in parent vertical flexbox
  display: flex;
  flex-direction: row;
  height: 100%;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
