$hover-time: 0.2s;

.signature {
  top: 10%;
  font-family: "Montserrat Alternates", helvetica, sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  color: #53f323;

  opacity: 0.9;
  mix-blend-mode: exclusion;
  will-change: opacity;

  height: 50%;
  line-height: 0.8;
  width: 100%;

  text-align: center;

  white-space: nowrap;

  font-size: 128px;
  @media (min-width: 756px) {
    font-size: 256px;
  }

  z-index: 1000;

  user-select: none;

  .l {
    display: inline-block;
    position: relative;

    margin: -0.01em;

    transition: 0.4s;
    mix-blend-mode: screen;

    cursor: pointer;

    .start,
    .end {
      transition: inherit;
      position: relative;
      color: #ff7000;
      transform-origin: inherit;
    }
    .end {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transform: scaleX(-1);
      pointer-events: none;
    }
    &:hover {
      color: #bbfffd;

      .start,
      .end {
        color: #ffff83;
      }
    }

    &.change {
      transition-property: opacity, transform;
      &.L1 {
        text-align: right;
        transform-origin: 75%;
        .start {
          position: absolute;
          width: 100%;
        }
        .end {
          position: relative;
        }
        transition: color $hover-time, opacity 0.4s, transform 0.4s;
      }
      &.T2 {
        transform-origin: 45%;
        transition: color $hover-time, opacity 0.4s ease 0.2s,
          transform 0.4s ease 0.2s;
      }
      &.U3 {
        transform-origin: left;
        transition: color $hover-time, opacity 0.4s ease 0.35s,
          transform 0.4s ease 0.35s;
      }
      &.S4 {
        transform-origin: left;
        transition: color $hover-time, opacity 0.4s ease 0.55s,
          transform 0.4s ease 0.55s;
      }
    }
  }
}

.signature.secret .l.change {
  .start {
    opacity: 0;
    transform: scaleX(-1);
    pointer-events: none;
  }
  .end {
    opacity: 0.9;
    transform: scaleX(1);
    pointer-events: all;
  }
}
