@import "../scss/style.scss";
.video-section {
  flex: 1; // Allow shrink, with initial basis of 33.33%
  height: 100vh;
  // transition: all 0.5s ease;
  transition: flex 0.5s ease, width 0.5s ease, visibility 0.5s ease;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: $color-dark;

  &.expanded {
    flex: 0 0 100%;
  }
  &.diminished {
    flex: 0;
  }
}

.media-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.media-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.2s ease;

  &.current {
    opacity: 1;
    z-index: 0.5;
    transform: translateX(0);
    opacity: 100%;
  }
  // &.next {
  //     transform: translateX(100%);
  //     transition: opacity 0.5s ease, transform 0.5s ease;
  // }
  // &.prev {
  //     transform: translateX(-100%);
  //     transition: opacity 0.5s ease, transform 0.5s ease;
  // }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.category-label-container {
  position: absolute;
  bottom: 38px;
  width: 100%;
  text-align: center;
}

.title-container {
  position: absolute;
  top: 38px;
  width: 100%;
  text-align: center;
}

.label {
  margin: auto;
  width: fit-content;
  padding: 4px 22px;
  border-radius: 147px;
  font-size: 55px;
  z-index: 1;
  background: black;
  opacity: 0.6;
}

.description {
  margin: auto;
  width: fit-content;
  padding: 4px 22px;
  border-radius: 147px;
  font-size: 32px;
  z-index: 1;
  background: black;
  opacity: 0.6;
}

.nav-button {
  position: absolute;
  top: 50%; // Center vertically
  cursor: pointer; // Change cursor to pointer on hover
  margin: auto;
  width: fit-content;
  padding: 16px;
  border-radius: 40px;
  border: 4px solid; // removing white border
  font-size: 32px;
  font-weight: bold;
  z-index: 1;
  background: black;
  color: white;
  opacity: 0.5;

  aspect-ratio: 1;

  transition: 0.3s;

  &:hover {
    opacity: 0.6;
    transform: scale(1.1);
  }

  &:active {
    transition: 0s;
    opacity: 1;
    // transform: scale(0.96) translateY(5%);
    transform: scale(0.96);
  }

  &.prev {
    left: 10px;
  }

  &.next {
    right: 10px;
  }

  .inner-button {
    margin-top: -0.4em;
  }

  &.quit {
    top: 10px;
    left: 10px;
    // transform: none;
    .inner-button {
      margin-top: -0.5em;
    }
  }
}

.project-container {
  display: flex;
  align-items: start;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: row;
  @media (max-width: 767px) {
    flex-direction: column;
  }

  .text-container {
    // width: 0;
    flex: 0;
    height: 100vh;
    overflow-y: scroll;
    transition: all 0.5s ease;
    &.visible {
      flex: 0 0 50%; // Allow the expanded section to take much more space
    }
  }
}
.mdx-content {
  // width: 50%;
  padding: 40px;
  overflow-y: auto; /* For long content */
}
