@font-face {
  font-family: "Montserrat Alternates";
  src: url("/fonts/MontserratAlternates-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-MediumItalic.ttf");
  font-style: italic;
  font-weight: 400;
}

$font-size: 20px;
$font-size-title: 24px;
$font-size-large: 32px;
$font-size-medium: 14px;
$font-size-small: 12px;

$font-family: Montserrat, Arial, sans-serif;

$color-light: #fbfbfb;
$color-light-muted: #e6e6ef;
$color-blue: #9454ff;
$color-dark: #181a20;
$color-orange: #ee6605;
$color-gold: #d48c0e;
$color-green: #54ff06;

@import "~bootstrap/scss/bootstrap.scss";

.dropdown-menu {
  background-color: $color-dark;
  z-index: 1050;
}

p {
  a {
    text-decoration: none;
    color: $color-blue;
    transition: color 0.2s;
    position: relative;

    &:hover {
      color: $color-light;
      text-decoration: none;
    }
    &:hover:before {
      transform: scaleX(1);
    }

    &:before {
      content: "";
      position: absolute;
      transition: transform 0.5s ease;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $color-green;
      transform: scaleX(0);
    }
  }
}

.mail {
  height: 44px;
  margin: 30px 0;

  a {
    position: relative;

    &:hover {
      color: $color-light;
      text-decoration: none;
    }

    &:before {
      content: "";
      position: absolute;
      transition: transform 0.5s ease;
      right: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background: $color-green;
      transform: scaleX(0);
      transform-origin: top right;
    }

    &:hover:before {
      transform: scaleX(1);
    }

    &:after {
      content: "";
      position: absolute;
      transition: transform 0.5s ease;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $color-green;
      transform: scaleX(0);
      transform-origin: top left;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }
}

body {
  background-color: $color-dark;
  color: $color-light;

  font-size: $font-size;
  font-family: $font-family;
  overflow: visible;
  overflow-x: hidden;

  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }

  .project {
    padding: 94px;
  }

  .imageContainer {
    box-shadow: 0 0 16px 4px black;
    background-color: black;
    margin: 5% img {
      max-width: 100%;
      align-self: center;
    }
  }

  .carousel {
    margin: 32px 0 32px;
  }

  .shade {
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      box-shadow: 0 0 16px 4px black;
      background: black;

      width: 100%;
      height: 100%;

      right: 0;
      top: 0;

      position: absolute;
      z-index: -1;
    }
  }

  // h1 {
  //   font-size: 4rem;
  //   font-weight: bold;
  // }

  ::-webkit-scrollbar {
    width: 0px;

    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
}
